*{
  font-family: Comic Sans MS;
  color:white;
}
.sec_1{
  width: 100%;
  height: auto;
  overflow: hidden;
  background-image: url("images/sec1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

@keyframes example {

  0% {transform: rotate(180deg);}
  25% {transform: rotate(-180deg);}
  50% {transform: rotate(180deg);}
  100% {transform: rotate(-180deg);}
}

.row{
  margin: auto;
  width:100%;
  height: auto;
  float:left;
  margin:0% 0% 25% 0%;

}
.navbar ul li a{
  color:white;
}
footer{
  background: #352116;
  padding: 2%;
overflow: hidden;
}
iframe{
  width:100%;
  height:580px;
  margin-bottom:2%;
}
#vid{
width:100%;
height:653px;
float:left;
background-color:black;
overflow:hidden;
padding-bottom: 20px;
}
.sec_2{
  width:100%;
  margin-top: 1px;
  float: left;
  overflow: hidden;
  background-color:black;

}
.sec_3{
  width:100%;
  float: left;
  overflow: hidden;
  height:400px;
  border-left: 3px solid black;
  border-right: 3px solid black;
}
.col_1{
  height:400px;
  margin:30px 0px 30px 0px;
  float: left;
}
.col_1_1{
  height:350px;
  background-color:#735D46;
  margin:25px 0px 25px 0px;
 border-radius: 20px;
}
/* .col_1_1:hover{

background-color:#524;
} */
.col_1_2{
  height:350px;
  background-color:#735D46;
  margin:25px 0px 25px 0px;
  border-radius: 20px;
}
/* .col_1_2:hover{

background-color:#584;
} */
.col_1_3{
  height:350px;
  background-color:#735D46;
margin:25px 0px 25px 0px;
  border-radius: 20px;
}
/* .col_1_3:hover{

background-color:#664;
} */
#but{
   position:absolute;
   margin-left:39%;
   margin-top:10%;
   width:120px;
   height:200px;
}
.txt{
  position:absolute;
  margin-left:40%;
  margin-top:9%;
  display:none;
  width:170px;
  height:180px;
}
@media only screen and (max-width:600px){
#vid{
  height:323px;
}
iframe{
  width:100%;
  height:250px;
  margin-bottom:2%;
}
.txt{
  position:absolute;
  margin-left:41%;
  margin-top:37%;
  display:none;
  width:100px;
  height:90px;
}
}
