*{
  font-family: Comic Sans MS;
  color:white;
  scroll-behavior: smooth;
}
.sec_1{
  width: 100%;
  height:auto;
  overflow:hidden;
  background-image: url("images/sec1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;


}
.facebook{

  background:#3B5998;
  color:black;
  border-radius:50px;
  outline:none;
  cursor:pointer;
  width:28px;
  border:white
}
.facebook:hover{
  background-color:black;
  color:white;
  outline:none;
  box-shadow: 0px 10px 10px -2px white;
}
.instagram{

  background:#D83FAB;
  color:black;
  border-radius:50px;
  outline:none;
  cursor:pointer;
  width:28px;
  border:white
}
.instagram:hover{
  background-color:black;
  color:white;
  outline:none;
  box-shadow: 0px 10px 10px -2px white;
}
.twitter{

  background:#4DC2F8;
  color:black;
  border-radius:50px;
  outline:none;
  cursor:pointer;
  width:28px;
  border:white
}
.twitter:hover{
  background-color:black;
  color:white;
  outline:none;
  box-shadow: 0px 10px 10px -2px white;
}
.soc{
  width:150px;
  overflow: hidden;
  margin:auto;
  text-align: center;
}
.clock{
  width:150px;
  overflow: hidden;
  margin:auto;
  text-align: center;
  margin-top: 5px;
  /* box-shadow: 5px 5px 50px 5px white; */
}
.flag{
  width:95px;
  overflow: hidden;
  margin:auto;
  justify-content: center
}
#clock{
  font-weight:300;
  font-size: 20px;

}

.sec_1_1{
  height:auto;
  border:3px solid black;
  margin:auto;
  border-style:dotted;
  width:100%;
  overflow: hidden;
  background-color: rgba(31,22,12, 0.7);
  padding: 20px;


  /* background-image:url("images/imgs.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
}
.seccol{
  float:left;
  height:200px;
  background-color:rgba(0, 0, 0, 0.6);
margin: auto;
border-radius: 15px;
border: 2px dotted black;
}



/* .sec_1_2{
  border-radius: 20px;
  height:50%;
  border:3px solid black;
  margin:auto;
  border-style: dotted;
  width:100%;
  overflow: hidden;
  background-image: url("images/arabrob.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
} */
li a:hover{
  background-color: #220702;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
box-shadow:0px 10px 10px -5px white
}

@keyframes example {

  0% {transform: rotate(180deg);}
  25% {transform: rotate(-180deg);}
  50% {transform: rotate(180deg);}
  100% {transform: rotate(-180deg);}
}

.row{
  margin: auto;
  width:100%;
  height: auto;
  float:left;
  margin:0% 0% 25% 0%;

}
.navbar ul li a{
  color:white;
}
footer{
  background: #352116;
  padding: 2%;
overflow: hidden;
}
iframe{
  width:100%;
  height:580px;
  margin-bottom:2%;
}
#vid{
width:100%;
height:653px;
float:left;
background-color:black;
overflow:hidden;
padding-bottom: 20px;
}
.sec_2{
  width:100%;
  margin-top: 1px;
  float: left;
  overflow: hidden;
  background-color:black;
border-top: 2px dotted black;
}
.sec_3{
  width:100%;
  float: left;
  overflow: hidden;
  height:400px;
  border-left: 3px solid black;
  border-right: 3px solid black;
}
.col_1{
  height:400px;
  float: left;
}
.col_1_1{
height:350px;
width: 100%;
background-image: url("images/arabica.jpg");
background-repeat: no-repeat;
background-position: center;
overflow: hidden;
background-size: cover;
margin:25px 0px 25px 0px;
border-radius: 20px;
}
.col_1_2{
height:350px;
width: 100%;
background-image: url("images/arabica_robusta.jpg");
background-repeat: no-repeat;
background-position: center;
overflow: hidden;
background-size: cover;
margin:25px 0px 25px 0px;
border-radius: 20px;
}
.col_1_3{
height:350px;
width: 100%;
background-image: url("images/robusta.png");
background-repeat: no-repeat;
background-position: center;
overflow: hidden;
background-size: cover;
margin:25px 0px 25px 0px;
border-radius: 20px;
}
/* .col_1_1:hover{

background-color:#524;
} */
.col_1_2{
  height:350px;
  background-color:#735D46;
  margin:25px 0px 25px 0px;
  border-radius: 20px;
}
/* .col_1_2:hover{

background-color:#584;
} */
.col_1_3{
  height:350px;
  background-color:#735D46;
  margin:25px 0px 25px 0px;
  border-radius: 20px;
}
/* .col_1_3:hover{

background-color:#664;
} */
#but{
   position:absolute;
   margin-left:39%;
   margin-top:10%;
   width:120px;
   height:200px;
}
.txt{
  position:absolute;
  margin-left:40%;
  margin-top:9%;
  display:none;
  width:170px;
  height:180px;
}

@media only screen and (max-width:600px){
  /* .sec_1{
    width: 100%;
    height:auto;
    overflow: hidden;
    background-image: url("images/sec1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

  } */

#vid{
  height:323px;
}

iframe{
  width:100%;
  height:250px;
  margin-bottom:2%;
}

.txt{
  position:absolute;
  margin-left:41%;
  margin-top:37%;
  display:none;
  width:100px;
  height:90px;
}
.sec_3{
  display:none;
}
#foclink{
  display:none;
}

}
