*{
  font-family: Comic Sans MS;
  color:white;
}
.sec_1{
  width: 100%;
  height: auto;
  overflow: hidden;
  background-image: url("images/sec1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

@keyframes example {

  0% {transform: rotate(180deg);}
  25% {transform: rotate(-180deg);}
  50% {transform: rotate(180deg);}
  100% {transform: rotate(-180deg);}
}

.row{
  margin: auto;
  width:100%;
  height: auto;
  float:left;
  margin:0% 0% 25% 0%;

}
.navbar ul li a{
  color:white;
}
footer{
  background: #281004;
  padding: 2%;
overflow: hidden;
}
