header{
  display: inline-block;
  width: 100%;
}

.tex{
  float: left;
  background-color: #1A54E6;
  padding: 10px 25px 10px 160px;
  color:white;
}
.but{
  float: left;
}
.but>button{
  height: 59px;
  width: 59px;
}

nav ul li{
    display: inline-block;
    padding: 20px 25px 20px 10px;
    text-decoration: none;
    color: #1A54E6;

}

nav ul{

    list-style-type: none;
}


.Lay{
  width:100%;
  height:600px;

}

.imag{
  width: 100%;
    margin-top: 20px;
}
.row{
width:100%;
margin-top:2%;
margin-left:0px;
}
.Lay0{
  width:100%;
  height:600px;
  margin-top: 20px;
  background-image: url("../img/Layer 11.png");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.com1{
  width:100%;
  height:230px;
  margin-top: 20px;
  background-image: url("../img/Layer 5.png");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
.Lay1{
  width:100%;
  height:600px;
  margin-top: 20px;
  background-image: url("../img/Layer 5.png");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.com2{
  width:100%;
  height:230px;
  margin-top: 20px;
  background-image: url("../img/Layer 7.png");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
.Lay2{
  width:100%;
  height:600px;
  margin-top: 20px;
  background-image: url("../img/Layer 7.png");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
.com3{
  width:100%;
  height:230px;
  margin-top: 20px;
  background-image: url("../img/Layer 6.png");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
.Lay3{
  width:100%;
  height:600px;
  margin-top: 20px;
  background-image: url("../img/Layer 6.png");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
.com4{
  width:100%;
  height:230px;
  margin-top: 20px;
  background-image: url("../img/Layer 8.png");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
.Lay4{
  width:100%;
  height:600px;
  margin-top: 20px;
  background-image: url("../img/Layer 8.png");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
.com5{
  width:100%;
  height:230px;
  margin-top: 20px;
  background-image: url("../img/Layer 9.png");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
.Lay5{
  width:100%;
  height:600px;
  margin-top: 20px;
  background-image: url("../img/Layer 9.png");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
.com6{
  width:100%;
  height:230px;
  margin-top: 20px;
  background-image: url("../img/Layer 10.png");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
.Lay6{
  width:100%;
  height:500px;
  margin-top: 20px;
  background-image: url("../img/Layer 10.png");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.tex1{
  width:96px;
  background-color: #8200B2;
  padding: 10px 0px 10px 0px;
  color:white;
  margin-top: 50%;
  text-align: center;
}
.tex2{
  width:96px;
  background-color: #58B600;
  padding: 10px 0px 10px 0px;
  color:white;
  margin-top: 50%;
  text-align: center;
}
.tex3{
  width:96px;
  background-color: #1A54E6;
  padding: 10px 0px 10px 0px;
  color:white;
  margin-top: 50%;
  text-align: center;
}
.tex4{
  width:96px;
  background-color: #000000;
  padding: 10px 0px 10px 0px;
  color:white;
  margin-top: 50%;
  text-align: center;
}
.tex5{
  width:96px;
  background-color: #D90446;
  padding: 10px 0px 10px 0px;
  color:white;
  margin-top: 50%;
  text-align: center;
}
.tex6{
  width:96px;
  background-color: #D90446;
  padding: 10px 0px 10px 0px;
  color:white;
  margin-top: 50%;
  text-align: center;
}
.new{
margin-top: 50px;
  font-size: 40px;
  text-align: center;
  color:white;
}
.foot{
  width:100%;
  height:200px;
  margin-top: 40px;
  background-image: url("../img/Rectangle 4.png");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;

}
h1{
  text-align:center;
  color:white;
  margin-top: 20%;
}
p{
  text-align: center;
  color:white;
}
b{
  text-align: center;
}
.inp{
    text-align: center;

}
input{
  border-bottom-left-radius:15px;
  border-top-left-radius:15px;
  outline:none;
}
.inp>button{
  border-bottom-right-radius:15px;
  border-top-right-radius:15px;
  outline: none;
  color:blue;

}
.fullimg{
  width:100%;
  height: 230px;
}
.div1{
  width:500px;
}
.imgdiv{
  width:100%;
  height: 600px;
}
button{
  text-align: center;
  color:#541;
  width:300px;
  margin-top: 1%;

}
.divh1{
  color:#541;
  margin-top: 2%;
}


.fulldiv{
  object-fit: cover;

  margin-top: 20px;
}
